@page "/amkeyward/vaults/personal"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>@KeywardOptions.ProductName</PageTitle>

<KeywardUi Fill="true">
    <div class="page-header">
        <h1>@Loc["Page.Personal.Title"]</h1>
        <p>@Loc["Page.Personal.Desc"]</p>
        <details class="help">
            <summary>@Loc["Common.HowItWorks"]</summary>
            <div>@Loc["Page.Personal.Help"]</div>
        </details>
    </div>

    <VaultWorkspace Team="false" />
</KeywardUi>
