@page "/"
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>AM KEYWARD</PageTitle>

<div class="page-header">
    <h1>AM KEYWARD</h1>
    <p>@Loc["Home.Tagline"]</p>
</div>

<AuthorizeView>
    <Authorized>
        <div class="card">
            <h3>@Loc["Home.QuickLinks"]</h3>
            <div class="row" style="margin-top:.5rem;">
                <a class="btn" href="@KeywardRoutes.PersonalVaults">@Loc["Nav.PersonalVaults"]</a>
                <a class="btn btn-ghost" href="@KeywardRoutes.TeamVaults">@Loc["Nav.TeamVaults"]</a>
                <a class="btn btn-ghost" href="@KeywardRoutes.SoftwareCredentials">@Loc["Nav.SoftwareCredentials"]</a>
                <a class="btn btn-ghost" href="@KeywardRoutes.ClientTokens">@Loc["Nav.ClientTokens"]</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="card">
            <p>@Loc["Home.SignInPrompt"]</p>
            <div class="row" style="margin-top:.5rem;">
                <a class="btn" href="account/login">@Loc["Nav.SignIn"]</a>
                <a class="btn btn-ghost" href="account/register">@Loc["Home.Register"]</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
